body {
    background-color: #535337;
    text-align: center;
    color: white;
}

.canine {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
    
}

#container {
    list-style: none;
    
}

table, th, td {
    border: 1px solid gray;
    margin-left:auto; 
    margin-right:auto;
}

.cabbage {
    color:CHARTREUSE;
}



























