<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/app.css">  
        <title></title>
        <style type="text/css">
            body {
                background-color: lightblue;
                color: blue;
                text-align: center;
            }
            img {
                border-radius: 10px;
            }
        </style>
    </head>
    <body>
            <h1>Gotta Catch 'Em All</h1>
            <h2><%= pokemon.name %></h2> </br>
            <img src="<%= pokemon.img %>.jpg"> </br>
            <a href="/pokemon">Go Back</a>


        





            
    </body>
</html>