.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
  background: rgb(245, 244, 244);
  border: 5px solid white;
}

.HolyGrail-nav, .HolyGrail-ads {
  flex: 0 0 18em;
}

.HolyGrail-nav {
  order: -1;
}

h1 {
  text-align: center;
}

/* .HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    flex: 0 0 12em;
  }
} */































































































