* {
    margin: 0;
    padding: 0;
    
}


body {
    background-image: url('image/grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-color: #A4D932;
}
h1 {
    text-align: center;
    padding-top: 0.8em;
    font-size: 6em;
}

.container-balance {
    margin-left: 43%;
    margin-bottom: 1.5em;
}

.container-balance button {
    height:50px;
    width: 25%;
    border-radius: 8px;
    font-size: 30px;
    color: black;
    background-color: green;
    border: 2px solid #A4D932;
}

.container-pics {
    display: grid;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* padding: 80px; */
    width: 6em;
    margin: 0 auto;
}

.container-pics button {
    margin-bottom: .5em;
}

