* {
    margin: 0;
    padding: 0;
    
}


body {
    background-image: url('image/grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-color: #A4D932;
}
h1 {
    text-align: center;
    padding-top: 0.8em;
    font-size: 6em;
}

.container-balance {
    margin-left: 45%;
}

.container-balance button {
    height:50px;
    width: 25%;
    border-radius: 8px;
    font-size: 30px;
    color: black;
    background-color: green;
    border: 2px solid #A4D932;
}

.container-pics {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 80px;
    grid-template-columns: 1fr 1fr 1fr;
}

