body {
    background-image: url('image/grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* display: inline-block; */
    margin: 0 auto;
    padding: 0;
}
h1 {
text-align: center;
padding-top: 0.8em;
font-size: 6em;
}
